<header class="site-header">
  <div class="logo-wrapper">
    <a href="{{ "" | relURL }}">
      <img src="{{ "img/logo-gbak.png" | relURL }}" alt="GBAK" class="site-logo">
    </a>
  </div>

  <nav class="nav">
    <a href="{{ "" | relURL }}">Главная</a>
    <a href="{{ "articles" | relURL }}">Статьи</a>
    <a href="{{ "news" | relURL }}">Новости</a>
    <a href="{{ "about" | relURL }}">Об авторе</a>
    <a href="https://boosty.to/gbak_official" target="_blank" rel="noopener">
      Boosty
    </a>
  </nav>
</header>
